.navbar-button button:not(:last-of-type) {
    margin-right: 1.935rem  !important;
}

.menu-icon {
    display: none !important;
}

.nav-mobile-button {
    display: none !important;
}

.hide-mobile-button {
    display: none !important;
}

@media only screen and (max-width: 480px) {
    .navbar-button button {
        display: none !important;
    }

    .menu-icon {
        display: block !important;
    }

    .nav-mobile-button {
        display: block  !important; 
        list-style: none !important; 
    }

    .hide-mobile-button {
        display: none !important;
    }
}